/* Hide scrollbar for WebKit browsers */
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
